/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #B983FF;
    color: #333;
    text-align: center;
    margin: 50px;
}

h1 {
    font-family: fantasy;
    color: #FBF3B9;
    font-size: 75px;
    font-style: italic;
}

p {
    font-size: 18px;
}