/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #B983FF;
    color: #333;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #000000;
    font-size: 75px;
}

p {
    font-size: 18px;
}